# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask sessions
flask_session/

# SQLite databases
*.db

# Environment variables
.env
.env.*

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
