{% extends "layout.html" %}

{% block main %}
    <div class="login-box">
        <h1>Log In</h1>
        <form action="/login" method="post">
            <div class="username-box">
                <label for="username">Username:</label>
                <input type="text" name="username" placeholder="Username" id="username" required>
            </div>
            <div class="password-box">
                <label for="password">Password:</label>
                <input type="password" name="password" placeholder="Password" id="password" required>
            </div>
            <button type="submit">Log In</button>
        </form>
        <p>New around here? <a href="/register">Register!</a></p>
    </div>
{% endblock %}